/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #121212; /* match dark theme */
  font-family: Arial, sans-serif;
}
